.footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 8rem;

  font-family: "Roboto", sans-serif;

  &-logo__container {
    img {
      width: 100%;
    }
  }

  &__content-container {
    margin-top: 2rem;

    display: flex;
    justify-content: space-between;
    width: 100%;

    .content-list {
      a {
        color: white;
      }

      li {
        margin-bottom: 1rem;

        &:first-child {
          margin-bottom: 2rem;
          font-size: 1.25rem;
          font-weight: 700;
        }
      }
    }
  }

  .footer-blue-cycle {
    background-color: rgba(72, 65, 226, 0.7);

    bottom: -9.4rem;
    right: -32.5rem;
  }
}
